.about-us-page {
  padding: 80px 20px;
  text-align: center;
}

.about-grid {
  font-family: "Hartwell", sans-serif;
  font-weight: 600;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin-top: 40px;
}

.about-section {
  background-color: var(--white);
  border-radius: 8px;
  padding: 20px;
  text-align: left;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.about-section p {
  font-size: 1rem;
  color: var(--text-color);
  line-height: 1.6;
}

.about-section .list {
  margin-top: 1.3rem;
}

.about-section ul {
  margin-top: 0.1rem;
}

.imageWrap img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.twoCol .about-section:last-child {
  margin-top: 3rem;
}

.about-section h4 {
  background-color: var(--primary-color);
  padding: 8px 4rem;
  width: fit-content;
  color: var(--white);
  font-size: 1.3rem;
  border-radius: 10px;
  margin-bottom: 1.2rem;
  text-align: center;
  font-weight: 900;
  font-family: "Hartwell Bold";
}

@media (max-width: 1128px) {
  .about-grid {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .twoCol {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  .twoCol:first-child {
    order: 3;
  }
  .twoCol:last-child {
    order: 1;
  }
  .twoCol .about-section:last-child {
    margin-top: 0rem;
  }
  .about-grid .imageWrap {
    max-width: 600px;
    margin: 2rem auto;
    order: 2;
  }
}

@media (max-width: 768px) {
  .twoCol {
    grid-template-columns: 1fr;
  }

  .about-section h4 {
    font-size: 1.2rem;
    padding: 8px 2rem;
  }
}

@media (max-width: 428px) {
  .about-section p {
    font-size: 0.9rem;
    line-height: 1.5;
  }
  .about-us-page .about-section {
    padding: 20px 0px;
  }
  .about-section h4 {
    font-size: 1.1rem;
  }
  .about-section ul {
    font-size: 0.9rem;
  }
}
