.page-container h1 {
  margin-bottom: 5rem;
  color: var(--primary-color);
  text-align: center;
  font-weight: bold;
}
.page-container .leadership-container {
  margin-top: 3rem;
}
.page-container .leadership-container .leadership-image {
  position: absolute;
  bottom: -7px;
  right: 4px;
  width: 50%;
  max-width: 601px;
  pointer-events: none;
  z-index: 1;
  top: auto;
}
.page-container .leadership-text p {
  margin-bottom: 1.1rem;
}
