.programs-page .programs-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
  padding: 2rem;
}

.programs-page .program-card {
  background-color: var(--white);
  padding: 32px;
  /* box-shadow: 0 6px 6px rgba(0, 0, 0, 0.15); */
  background-color: #f9f9f9;

  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.program-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.programs-page .program-card img {
  width: 100%;
  height: 320px;
  border-radius: 8px;
  object-fit: cover;
}
.page-container.programs-page .img-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.programs-page .program-card h2 {
  font-size: 1.5rem;
  color: var(--primary-color);
  margin: 1rem 0;
}

.program-card p {
  font-size: 1.1rem;
  color: var(--text-color);
}

@media (max-width: 768px) {
  .page-container .leadership-container .leadership-image {
    display: none;
  }
}
@media (max-width: 960px) {
  .programs-page .programs-grid {
    gap: 2rem;
  }
}
@media (max-width: 789px) {
  .programs-page .programs-grid {
    grid-template-columns: 1fr;
  }
  .programs-page .program-card h2 {
    font-size: 1.2rem;
  }
}

@media (max-width: 459px) {
  .programs-page .programs-grid {
    padding: 0;
  }
}

.program-detail-content {
  max-width: 1200px;
  margin: 2rem auto;
  background: #fff;
  border-radius: 8px;
  padding: 2rem 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
  font-size: 1.15rem;
  color: var(--text-color);
  line-height: 1.7;
}
