.resources-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
  padding: 2rem;
}
.resources .header-content {
  background-color: var(--primary-color);
  padding: 2rem;
  line-height: 1.7;
  font-size: 1.4rem;
  color: var(--white);
}
.resources .header-content p {
  text-align: center;
  margin: 0 auto;
  max-width: 70ch;
}

.resource-card {
  background-color: var(--white);
  padding: 32px;
  border-radius: 8px;
  background-color: #f9f9f9;
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.resource-card:hover {
  transform: translateY(-2px);
  /* box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15); */
}

.resource-card img {
  width: 100%;
  height: 290px;
  object-fit: cover;
  border-radius: 8px;
}

.resource-card h2 {
  font-size: 1.3rem;
  color: var(--primary-color);
  margin: 1rem 0;
}

.resource-card p {
  font-size: 1.1rem;
  color: var(--text-color);
}

@media (max-width: 960px) {
  .resources-grid {
    gap: 2rem;
  }
}
@media (max-width: 789px) {
  .resources-grid {
    grid-template-columns: 1fr;
  }
  .resource-card h2 {
    font-size: 1.2rem;
  }
}

@media (max-width: 509px) {
  .resources-grid {
    padding: 0;
  }
}

.resource-detail-content {
  margin-top: 2rem;
  background: #fff;
  border-radius: 8px;
  padding: 2rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
  font-size: 1.15rem;
  color: var(--text-color);
  line-height: 1.7;
}
