.contact-section {
  background-color: var(--white);
  padding: 60px 0;
}

.contact-section .section-title {
  color: var(--primary-color);
  font-size: 2.2rem;
  margin-bottom: 40px;
  font-weight: bold;
  text-align: center;
}

.contact-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
}

.contact-form {
  flex: 0 0 100%;
}
.flex-input {
  flex: 4;
  display: flex;
  gap: 2rem;
}
.flex-input > div {
  flex: 1;
}
.flex-group {
  display: flex;
  gap: 2rem;
}
.flex-group .message-input {
  flex: 3;
}
.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #eee;
  border-radius: 4px;
  background-color: #f5f5f5;
  font-family: "Hartwell", Arial, sans-serif;
}

.form-group textarea {
  resize: vertical;
}

.contact-form .btn {
  margin-top: 10px;
}

@media (max-width: 1280px) {
  .contact-container {
    gap: 2rem;
  }
}
@media (max-width: 912px) {
  .flex-group {
    flex-direction: column;
    gap: 1rem;
  }
}
@media (max-width: 768px) {
  .contact-container {
    flex-direction: column;
  }

  .flex-input {
    gap: 1rem;
  }
  .contact-form {
    width: 100%;
  }
}
@media (max-width: 512px) {
  .flex-input {
    flex-direction: column;
  }
}
